table {
    width: 50%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}
th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
